
<%= form_for @campaign do |f| %>
	<% if @campaign && @campaign.errors.any? %>
		<div class="errors">
			<h2><%= pluralize(@campaign.errors.count, "error") %> in your application:</h2>
			<ul>
			<% @campaign.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div>
		<%= f.label :body %>
		<%= f.text_area :body %>
	</div>

	<div>
		<label class="tier">
			<%= f.radio_button :list_type, :public %>
			<strong>Public</strong>
			Anyone can see and respond to this campaign.
		</label><br />
		<label class="tier">
			<%= f.radio_button :list_type, :private %>
			<strong>Private</strong>
			You choose from a short-list of reputable feedbackers.
		</label>
	</div>

	<div class="private-fields">
		<div>
			<%= f.label :confirm_deadline_days %>
			<%= f.text_field :confirm_deadline_days %>
		</div>
		<div>
			<%= f.label :feedback_deadline_days %>
			<%= f.text_field :feedback_deadline_days %>
		</div>
	</div>

	<%= f.submit %>
<% end %>