<div class="section group">
	<div class="col span_2_of_3">

		<div class="campaign">

			<h2><%= @campaign.title %></h2>

			<div class="tag_list">
			<% @campaign.categories.each do |c| %>
				<span class="tag">
					<%= link_to c.name, "/categories/#{c.name}" %>
				</span>
			<% end %>
			</div>

			<div class="clearer"></div>

			<div class="body">
			<%= @campaign.body %>
			</div>

			<% if @campaign.user_id == current_user_id %>
			<div class="belt">
				<%= link_to 'edit', edit_campaign_path(@campaign) %>
			</div>
			<% end %>

		</div>

		<% if logged_in? && session[:user_id] != @campaign.user_id %>
			<div class="feedback-form">
			<h3>Leave some feedback</h3>
			<%= form_for @campaign.feedback.build do |f| %>
				<%= f.hidden_field :campaign_id, value: @campaign.id %>
				<%= f.text_area :body %>
				<%= f.submit %>
			<% end %>
			</div>
		<% end %>

		<% if !logged_in? %>
		<h3>
			<a href="/login">Log in</a> or <a href="/signup">Sign up</a> to leave your feedback!
		</h3>
		<% end %>

		<div class="feedbacks">

			<h3><%= pluralize(@campaign.feedback.count, "Feedback") %></h3>
			<% @campaign.feedback.each do |feedback| %>
				<%= render 'feedbacks/show', feedback: feedback %>
			<% end %>

		</div>
	</div>
	<div class="col span_1_of_3">
		<%= render 'users/small', user: @campaign.user %>
	</div>
</div>