<!DOCTYPE html>
<html>
<head>
  <title>Feedbacker</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>

<div id="header">
	<div class="logo">
		<a href="/">Feedbacker</a>
	</div>

	<div class="nav">
		<ul>
			<li><a href="/browse">Browse</a></li>
			<li><a href="/campaigns/new">Create Campaign</a></li>
		</ul>
	</div>

	<div class="user">
		<ul>
			<% if current_user %>
				<li><%= link_to current_user.email, user_path(current_user) %></li>
				<li><a href="/logout">Log out</a></li>
			<% else %>
				<li><a href="/signup">Sign up now!</a></li>
				<li><a href="/login">Log in</a></li>
			<% end %>
		</ul>
	</div>
</div>
<div class="clearer"></div>

<div id="page">
<%= yield %>
</div>

</body>
</html>
