<!DOCTYPE html>
<html>
<head>
  <title>Feedbacker</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page">



<div id="header" class="headercontent">
	<div class="logo">
		<a href="/">Feedbacker</a>
	</div>

	<div class="user">
		<ul>
			<% if current_user %>
				<li><%= link_to current_user.email, user_path(current_user) %></li>
				<li class="notification-count">
					<%= pluralize(notifications.size, "Notification") %>
				</li>
				<li><a href="/logout">Log out</a></li>
			<% else %>
				<li><a href="/signup">Sign up now!</a></li>
				<li><a href="/login">Log in</a></li>
			<% end %>
		</ul>
	</div>

	<% if current_user %>
	<div class="notifications">
		<ul>
			<% notifications.each do |n| %>
			<li>
				<%= raw n.body %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="nav">
		<ul>
			<li><a href="/browse">Browse</a></li>
			<li><a href="/campaigns/new">Create Campaign</a></li>
		</ul>
	</div>

	<div class="clearer"></div>
</div>

<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>


<div id="page" class="maincontent">

<%= yield %>
</div>
</div>
</body>
</html>
